body{
    background-image: url(./1.jpg);
}
   
h1 {            
    text-align: center;
    color: rgba(224, 9, 9, 0.904);
    padding: 20px 0 0 0;
    font-size: 1.5em; 
}
p{
    color:rgba(20, 243, 176, 0.541);
    padding: 0 20px;
    font-size: 1.2em;
    
    

}
#container{
    background-color: rgba(32, 14, 201, 0.856);
    border: 5px solid  rgb(255, 0, 0);
    height: 250px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    width: 50%;
    border-radius: 20PX;
    

}

label{
    color: rgb(255, 255, 255);
}